<h1>   FUEL Management System</h1>

<div>
  <form #orderForm="ngForm" (ngSubmit)="submitOrderCreate(orderForm.value)">
  
    
          <label> StationId </label>
      <input type="text"  name="Id"  ngModel/>

           <label>FuelType</label>
      <select name="FualType" id="FualType" ngModel>
          <option value="Petrol 92" selected>Petrol 92</option>
          <option value="Petrol 95">Petrol 95</option>
          <option value=" Diesel"> Diesel</option>
          <option value="Super Diesel">Super Diesel</option>
      </select>
   


      <label>FuelCapacity</label>
          <select name="Capacity" id="Capacity" ngModel>
          <option value="3300">3300L</option>
          <option value="6600">13200L</option>
          <option value="13200" selected>6600L</option>
          </select>

          <button>submit</button>
  </form>
</div>
   

<div>
    <div >{{ preview }}</div>
  </div>

<app-orders></app-orders>
 <app-allocation-server></app-allocation-server> 
 <app-dispach-server></app-dispach-server>




<br>
<br>

<router-outlet></router-outlet>
