<form [formGroup]="orderForm" (ngSubmit)="save()">
  <input type ="text"  
  class="form-control"
   id="name"
    formControlName="name" 
    ngModel placeholder="name">
    <br><br>
  <input type ="text"  class="form-control" id="id" formControlName="id" ngModel placeholder="id"><br><br>
  <input type ="text" class="form-control" id="type" formControlName="type" ngModel placeholder="type"><br><br>
  <select id="type"  aria-label="Default select example" cSelect>
    <option>type</option>
    <option id="type"value="1">One</option>
    <option id="type"value="2">Two</option>
    <option id="type"value="3">Three</option>
  </select>
  <input type ="text"  class="form-control" id="capasity" formControlName="capasity" ngModel placeholder="capasity"><br><br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
  <div >{{ preview }}</div>
</div>